/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */
body
  font-family: 'Inter', sans-serif;
  font-weight: 500;
.home .hero img
  max-width 100%

@media (max-width: 719px)
  .home .hero img {
      display: none !important;
  }

.theme-default-content code, .view-lines, .output-shell, .feature pre {
  font-family: Source Code Pro, sans-serif;
  font-size: 0.9em;
}

